@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Xero<br />
    Canberra, ACT<br />
    <abbr title="Phone">P:</abbr>
    04268 210 024
</address>

<address>
    <strong>Support:</strong>   <a href="abhid94@gmail.com">abhid94@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="abhid94@gmail.com">abhid94@gmail.com</a>
</address>